{% extends 'skel_main.html' %}
{% block title %}Change password{% endblock %}
{% block content %}
<section>
    {% from "flask_user/_macros.html" import render_submit_field %}
    {% from "flask_user/_qf_macros.html" import render_field %}
    <h2>{%trans%}Change password{%endtrans%}</h2>

    <form action="" method="POST" id="form-change-password" class="narrow" role="form">
        {{ form.hidden_tag() }}
        {{ render_field(form.old_password, label="Old password", ftabindex=10) }}
        {{ render_field(form.new_password, label="New password", tabindex=20) }}
        {% if user_manager.enable_retype_password %}
            {{ render_field(form.retype_password, label="New password (again)", tabindex=30) }}
        {% endif %}
        {{ render_submit_field(form.submit, tabindex=90) }}
    </form>
</section>
{% endblock %}
