{% extends 'skel_main.html' %}
{% block title %}Forgot password{% endblock %}
{% block content %}
<main>
    {% from "flask_user/_macros.html" import render_submit_field %}
    {% from "flask_user/_qf_macros.html" import render_field%}
    <h1>{%trans%}Forgot Password{%endtrans%}</h1>

    <form action="" method="POST" id="form-forgot-password" class="narrow" role="form">
        {{ form.hidden_tag() }}
        {{ render_field(form.email, label="Email address", tabindex=10) }}
        {{ render_submit_field(form.submit, tabindex=90) }}
    </form>
</main>
{% endblock %}
