{#
 # Arguments:
 # channel:str: Pre-populated channel field in form. Optional.
 # usermask:str: Pre-populated usermask field in form. Optional.
 # search_time_start:str: Pre-populated start time field in form. Optional.
 # search_time_end:str: Pre-populated end time field in form. Optional.
 # search_maxlines:int: Pre-populated maxlines in form. Optional.
 # queries:list:List of tuplets of the form [(id, 'query text', boolWildcardsChecked), ...]. id must be numeric
 #          and unique in the list. Optional.
 #
 # Blocks (non-inherited):
 # section_content_after_form: after the <section> containing the form. Should have one or more <section> elements
 #          as the only top-level elements.
 #}{% extends "skel_main.html" %}
{% block head %}{{ super() }}
{% endblock %}
{% block title %}Search{% endblock %}
{% block content %}<section>
    <h2>Search</h2>
    <form action="/search" method="get">
        <div>
            <input type="text" name="channel" id="search-channel" placeholder="#channelName" {% if channel is defined %}value="{{ channel }}"{% endif %}>
            <input type="text" name="usermask" id="search-usermask" placeholder="nick!username@hostmask" {% if usermask is defined %}value="{{ usermask }}"{% endif %}>
        </div>
        <div>
            <label for="search-time-start">From</label>
            <input type="text" name="start" id="search-time-start" placeholder="YYYY-MM-DD HH:MM:SS" {% if search_time_start is defined %}value="{{ search_time_start }}"{% endif %}>

            <label for="search-time-end">until</label>
            <input type="text" name="end" id="search-time-end" placeholder="YYYY-MM-DD HH:MM:SS" {% if search_time_end is defined %}value="{{ search_time_end }}"{% endif %}>
        </div>
        <div>
            <label for="search-maxlines">Max lines</label>: <input type="text" name="limit" id="search-maxlines" value="{{ maxlines|default(config.MAX_RESULTS_DEFAULT) }}" maxlength="4">
        </div>
        <div id="moreless-queries">
            Search queries
            <button type="button" id="more-queries" onclick="addQueryRow(); updateAddRemoveQueryButtons();">+</button>
            <button type="button" id="less-queries" onclick="removeQueryRow(); updateAddRemoveQueryButtons();">&ndash;</button>
        </div>
        {% for i, term, isChecked in queries %}
            <div class="search-query-container">
                <input type="text" name="query" class="search-query" title="Search Query" placeholder="Search Query" value="{{ term }}">
                <input type="checkbox" class="search-query-wild" id="query-wild-{{ i }}" value="queryLike" {% if isChecked %}checked="checked"{% endif %}>
                <label for="queries-wild-{{ i }}">Wildcards</label>
            </div>
        {% else %}{# Default case: no data #}
            <div class="search-query-container">
                <input type="text" name="query" class="search-query" title="Search Query" placeholder="Search Query">
                <input type="checkbox" class="search-query-wild" id="query-wild-0" value="queryLike" onchange="setWildcardQuery(this);">
                <label for="query-wild-0">Wildcards</label>
            </div>
        {% endfor %}
        <div id="buttons">
            <button type="reset">Clear</button> <button type="submit">Submit</button>
        </div>
    </form>
</section>
{% block section_content_after_form %}{% endblock %}
<section>
    <h2>Help</h2>

    <p>Channels may be a space-separated list of channels (OR). You may use wildcards (see help below).
        Depending on your user permissions, you may be restricted only to specific channels.</p>

    <p>Usermask may be a space-separated list (OR). You may use wildcards (see wildcard help below).</p>

    <p>Dates and times must be in the ISO 8601 format shown. Use a 24-hour clock. You can omit parts of the date-time
        off the rightmost end: for example, <code>2016-01-03 14</code> is valid. Timezone is the server's timezone.</p>

    <p>The search query works in the following way:</p>
    <ul>
        <li>Each line represents a logical OR. Use the + and &ndash; buttons to add or remove lines to the list.</li>
        <li><code>word1 word2 word3</code> in the same line searches for all words in the same message.</li>
        <li><code>"words in quotation marks"</code> matches the exact expression.</li>
        <li>A literal quotation mark can be searched using <code>\"</code>.</li>
    </ul>

    <p><strong>Wildcards</strong>: Wildcard <code>?</code> matches any one character; wildcard <code>*</code> matches
    zero or more characters; <code>\</code> escapes wildcard characters. To use a literal question mark, asterisk or
    backslash, use <code>\?</code>, <code>/*</code> or <code>\\</code>, respectively.</p>
</section>{% endblock %}
