{#
 # PARAMETERS:
 # error: (str) error text to display
 # warning: (str) warning text to display
 # notice: (str) notice text to display
 #
 # BLOCKS:
 # head: <head> content. Contains the <title> by default (super() recommended, but can be omitted to customise
 #        <title>).
 # title: Used at the beginning of the <title> tag. Default empty; must be defined.
 # headtitle: Top page heading. Default is "<SERVER NAME> - QuasselFlask". Does not usually need to be overridden.
 # navleft: left-hand-side of the <nav> element; see code for examples of how to structure
 # content: main content area, should contain one or more top-level <section> elements.
 # footer: content of the <footer>. Contains QuasselFlask link, version, generation time - super() recommended.
 #}<!DOCTYPE html>
<html lang="en" {% if user_theme.root_class %} class="{{ user_theme.root_class }}"{% endif %}>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.min.css') }}">
    {% if user_theme.file %}
    <link rel="stylesheet" href="{{ url_for('static', filename=user_theme.file) }}">
    {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='quasselflask.js') }}"></script>
    {% block head %}
        <title>{% block title %}{% endblock %} - {{ config['SITE_NAME']|e }} - QuasselFlask</title>
    {% endblock %}
</head>
<body>

<nav>
    <h1 id="site-title" class="nav-title"><a href="{{  url_for('home') }}">{{ config['SITE_NAME']|e }}</a></h1>
    <ul>
        <li id="nav-search">
            <a href="{{ url_for('home') }}" title="Log Search"><i class="fa fa-lg fa-fw fa-search" aria-label="log search"></i></a>
        </li>
        {% if config.QF_ALLOW_TEST_PAGES -%}
            <li class="dropdown">
                <i class="fa fa-check-square-o fa-fw fa-lg" aria-label="Testing menu"></i>
                <ul class="dropdown-inner">
                    <li><a href="{{ url_for('test_parse_home') }}"><i class="fa fa-fw fa-tasks" aria-hidden="true"></i> Query Parser</a></li>
                </ul>
            </li>
        {%- endif %}
        {% block navleft %}{% endblock %}
        {% if call_or_get(current_user.is_authenticated) -%}
            <li id="nav-user" class="dropdown right">
                <a href="{{ url_for('user.profile') }}" title="User"><i class="fa fa-user-circle fa-lg fa-fw" aria-label="User menu"></i></a>
                <ul class="dropdown-inner">
                    <li><a href="{{ url_for('user.profile') }}">{{ current_user.username }} <i class="fa fa-vcard-o fa-fw" aria-hidden="true"></i></a></li>
                    <li><a href="{{ url_for('check_permissions') }}">Permissions <i class="fa fa-eye fa-fw" aria-hidden="true"></i></a></li>
                    <li><a href="{{ url_for('user.logout') }}">Sign out <i class="fa fa-sign-out fa-fw" aria-hidden="true"></i></a></li>
                </ul>
            </li>
        {% else %}
            <li id="nav-user" class="right">
                <a href="{{ url_for('user.login') }}" title="Sign in"><i class="fa fa-sign-in fa-lg fa-fw" aria-label="sign in"></i></a>
            </li>
        {%- endif %}
        {% if not call_or_get(current_user.is_anonymous) and call_or_get(current_user.is_superuser) -%}
            <li id="nav-admin" class="dropdown right">
                <a href="{{ url_for('admin_users') }}" title="Admin"><i class="fa fa-at fa-lg fa-fw" aria-label="Administrator's menu"></i></a>
                <ul class="dropdown-inner">
                    <li><a href="{{ url_for('admin_create_user') }}">Create user <i class="fa fa-user-plus fa-fw" aria-hidden="true"></i></a></li>
                    <li><a href="{{ url_for('admin_users') }}">Manage users <i class="fa fa-users fa-fw" aria-hidden="true"></i></a></li>
                </ul>
            </li>
        {%- endif %}
    </ul>
</nav>

{# One-time system messages called Flash messages #}
{% if error is defined %}<section class="error"><strong>Error</strong> {{ error|e }}</section>{% endif %}
{% if warning is defined %}<section class="warning"><strong>Warning</strong> {{ warning|e }}</section>{% endif %}
{% if notice is defined %}<section class="notice">{{ notice|e }}</section>{% endif %}

{% block flash_messages %}
{%- with messages = get_flashed_messages(with_categories=true) -%}
{% if messages %}
{% for category, message in messages %}
    {% if category=='error' or category=='danger' %}
        <section class="error"><strong>Error</strong> {{ message|safe }}</section>
    {% elif category=='warning' %}
        <section class="warning"><strong>Warning</strong> {{ message|safe }}</section>
    {% else %}
        <section class="notice">{{ message|safe }}</section>
    {% endif %}
{% endfor %}
{% endif %}
{%- endwith %}
{% endblock %}

{% block content %}{% endblock %}

<footer>{% block footer %}
    Generated by <a href="https://github.com/Laogeodritt/quasselflask">QuasselFlask</a>
    version {{ g.display_version }} in {{ g.get_request_time() }}.
{% endblock %}</footer>
</body>
</html>
