{#
 # PARAMETERS:
 # error: (str) error text to display
 # warning: (str) warning text to display
 # notice: (str) notice text to display
 #
 # BLOCKS:
 # head: <head> content. Contains the <title> by default (super() recommended, but can be omitted to customise
 #        <title>).
 # title: Used at the beginning of the <title> tag. Default empty; must be defined.
 # headtitle: Top page heading. Default is "<SERVER NAME> - QuasselFlask". Does not usually need to be overridden.
 # navright: right-hand-side of the <nav> element; see code for examples of how to structure
 # content: main content area, should contain one or more top-level <section> elements.
 # footer: content of the <footer>. Contains QuasselFlask link, version, generation time - super() recommended.
 #}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/smoothness/jquery-ui.css"-->
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.min.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!--script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script-->
    <script src="{{ url_for('static', filename='quasselflask.js') }}"></script>
    {% block head %}
        <title>{% block title %}{% endblock %} - {{ config['SITE_NAME']|e }} - QuasselFlask</title>
    {% endblock %}
</head>
<body>

<header>
    <h1>{% block headtitle %}{{ config['SITE_NAME']|e }} - QuasselFlask{% endblock %}</h1>
</header>

<nav>
    <ul id="nav-right">{% block navright %}{% endblock %}</ul>
    <ul id="nav-left">
        <li id="nav-color">TOGGLE_COLOR</li>
        <li id="nav-user">
            {% if call_or_get(current_user.is_authenticated) %}
                <a href="{{ url_for('user.profile') }}">{{ current_user.username }}</a>
                &nbsp; | &nbsp;
                <a href="{{ url_for('user.logout') }}">Sign out</a>
            {% else %}
                <a href="{{ url_for('user.login') }}">Sign in</a>
            {% endif %}
        </li>
    </ul>
</nav>

{# One-time system messages called Flash messages #}
{% if error is defined %}<section id="error"><strong>Error</strong> {{ error|e }}</section>{% endif %}
{% if warning is defined %}<section id="warning"><strong>Warning</strong> {{ warning|e }}</section>{% endif %}
{% if notice is defined %}<section id="notice">{{ notice|e }}</section>{% endif %}

{% block flash_messages %}
{%- with messages = get_flashed_messages(with_categories=true) -%}
{% if messages %}
{% for category, message in messages %}
    {% if category=='error' or category=='danger' %}
        <section id="error"><strong>Error</strong>{{ message|safe }}</section>
    {% elif category=='warning' %}
        <section id="warning"><strong>Warning</strong> {{ message|safe }}</section>
    {% else %}
        <section id="notice">{{ message|safe }}</section>
    {% endif %}
{% endfor %}
{% endif %}
{%- endwith %}
{% endblock %}

{% block content %}{% endblock %}

<footer>{% block footer %}
    Generated by <a href="https://github.com/Laogeodritt/quasselflask">QuasselFlask</a>
    version {{ g.display_version }} in {{ g.get_request_time() }}.
{% endblock %}</footer>
</body>
</html>
