{% extends 'skel_main.html' %}
{% block title %}Manage User - {{ user.username }}{% endblock %}
{% block content %}
    <section>
        {% from "admin/_qf_macros.html" import user_disable_link, user_action_link %}
        <h2>Manage User - {{ user.username }}</h2>
        {% set is_current_user = user is sameas current_user %}

        <div class="user-manage-row user-manage-delete">
            {{ user_action_link(user, '# Delete', postname='delete', postvalue='1', class='delete', disabled=is_current_user) }}
        </div>

        <div class="user-manage-row user-manage-status"><label>Status</label>
            {%- if call_or_get(user.is_active) -%}
                {{ user_action_link(user, '✓ Enabled', postname='status', postvalue='0', class='user-enabled', disabled=is_current_user) }}
            {%- else -%}
                {{ user_action_link(user, '✗ Disabled', postname='status', postvalue='1', class='user-disabled', disabled=is_current_user) }}
            {%- endif -%}

            {%- if call_or_get(user.is_superuser) -%}
                {{ user_action_link(user, '@ Superuser', postname='superuser', postvalue='0', class='user-superuser', disabled=is_current_user) }}
            {%- else -%}
                {{ user_action_link(user, '∗ User', postname='superuser', postvalue='1', class='user-normaluser', disabled=is_current_user) }}
            {%- endif -%}
        </div>

        <div class="user-manage-row user-manage-email">
            <label>Email</label>
            <form class="linkform" method="post" action="{{ url_for('admin_update_user', userid=user.get_id()) }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="email" name="email" value="{{ user.email }}" data-animate-event="input" data-animate-once data-animate-target="email-submit">
                <input type="submit" value="Save" class="animate-slide animate-start-hidden" data-animate-id="email-submit" data-animate-type="width">
            </form>

            {%- if user.confirmed_at -%}
                {{ user_action_link(user, '✓ Confirmed', postname='confirm_email', postvalue='0', class='confirmed', disabled=is_current_user) }}
            {%- else -%}
                {{ user_action_link(user, '✗ Unconfirmed', postname='confirm_email', postvalue='1', class='unconfirmed', disabled=is_current_user) }}
            {%- endif -%}
        </div>

        <h3>Permissions</h3>
        <form class="jsform" id="user-permissions-form" method="post" action="{{  url_for('admin_permissions', userid=user.get_id()) }}">
        </form>
        <form id="user-permission-entry-form">
            <div>
                <input type="text" name="quasseluser" value="" placeholder="quassel user">
                <input type="text" name="network" value="" placeholder="network">
                <input type="text" name="buffer" value="" placeholder="channel">
                <!-- TODO: Javascript for combo boxes (ZinoUI) -->
            </div>
            <div>
                <button id="btn-permission-allow">✓ Allow</button>
                <button id="btn-permission-deny">✗ Deny</button>
                <button id="btn-permission-remove"># Remove</button>
                <!-- TODO: Javascript -->
            </div>
        </form>

        <!-- TODO: Javascript load data here -->
        <div id="user-permission-display"></div>
    </section>
{% endblock %}
